Repository RunanywhereAI/runanywhere-sdks, pull requests merged in 2025-08, with the labels that each got.

#26 V0.12 release with Quiz structured outputs
  examples/ios/RunAnywhereAI/RunAnywhereAI/App/RunAnywhereAIApp.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/LLMSwift/LLMSwiftService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Chat/ChatViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/GenerationProgressView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/QuizInputView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/QuizView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/QuizViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Settings/SimplifiedSettingsView.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/StructuredOutput/Services/StructuredOutputHandler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/RunAnywhereSDK+StreamingStructuredOutput.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/GenerationOptions.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK+StructuredOutput.swift
Labels: ios-sample, ios-sdk

#32 Fixing mainline
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcworkspace/xcshareddata/swiftpm/Package.resolved
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/Foundation/FoundationModelsAdapter.swift
Labels: ios-sample

#41 [iOS-SDK] Refactor the voice capability
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/FluidAudioIntegration.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/TranscriptionViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Factories/DiarizationFactory.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Handlers/LLMHandler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Handlers/STTHandler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Handlers/SpeakerDiarizationHandler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Handlers/TTSHandler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Handlers/VADHandler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Models/VoiceSession.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Operations/StreamingTTSOperation.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Services/DefaultSpeakerDiarization.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Services/VoiceAnalyticsService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Services/VoiceCapabilityService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Services/VoicePipelineManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Services/VoiceSessionManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Strategies/AudioSegmentation/AudioSegmentationStrategy.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Strategies/VAD/SimpleEnergyVAD.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/VoiceActivityDetector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/VoiceOrchestrator.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/VoicePerformanceMonitor.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/VoiceService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Services/Voice/DefaultVoiceOrchestrator.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/Voice/Adapters/SystemTTSAdapter.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/Voice/Platform/iOSAudioSession.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/Voice/Platform/macOSAudioSession.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Extensions/RunAnywhereSDK+Voice.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/ModularPipelineEvent.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/VoicePipelineConfig.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/VoicePipelineEvent.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/VoiceProcessingMode.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/VoiceSession.swift
  sdk/runanywhere-swift/docs/VOICE_PIPELINE_ARCHITECTURE.md
  thoughts/shared/plans/llmswift_module_extraction.md
  thoughts/shared/plans/whisperkit_module_extraction.md
Labels: ios-sdk
